/* Formateo de CSS y fonts*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500&display=swap');

/* estilo para el encabezado de envios */
.envios{
    background-color: rgb(58, 224, 141);
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

/* estilo para el titulo de la página*/
h1{
    text-align: center;
    border:double;
    font-family: 'Bebas Neue', cursive;
    font-size: 300%;
    word-spacing: 30px;
    letter-spacing: 5px;  
}

.animate_bounceInDown{
    /* animation-name: titulo-rebota; */
    animation-duration: 2s;
    animation-delay: 0s;  
}



/* El nav padre le da flexibilidad de los hijos anclas */
.caja-padre{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
    height: 50px;
    
    background-image: url(multimedia/oveja.jpg) ;
    background-size:contain;    
    
}


/* estilos a los anclas del menu */
nav a{
    text-decoration: none;
    border:double;
    color: rgb(0, 0, 0);
    background-color: rgba(240, 226, 222, 0.808);
    font-size:x-large;
    font-weight: bolder;
    
    font-family: 'Bebas Neue', cursive;  
}

/*grid del main*/
.grid-container{
    display: grid;
    border: 1px solid black;
    margin: 2px;
    
    
    /*tamaño de cada columna y fila */
    grid-template-columns: repeat(3, 33,3%); 
    grid-template-rows: repeat(3, 315px);
    gap: 1px 1px; 
    grid-template-areas: 
    "oscar bienvenidos messi"
    "oscar instrucciones sapucai"
    "oscar chacarera stephen-king" ;
}

/*ACTIVACION llamando al selector de clase para cada clase y su grid-area*/
.oscar{
    grid-area: oscar;
    background-color: rgb(255, 23, 93);
    background-image: image(multimedia/oscar-fondo);
}

.bienvenidos{
    grid-area: bienvenidos;
    background-color: rgb(78, 184, 119);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
    
}

.instrucciones{
    grid-area: instrucciones;
    background-color: rgb(226, 255, 158);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.chacarera{
    grid-area: chacarera;
    background-color: rgb(78, 184, 119);
    text-align: center;
}

.messi{
    grid-area: messi;
    background-color: rgb(23, 201, 255);
}

.sapucai{
    grid-area: sapucai;
    background-color: rgb(23, 255, 81);
}

.stephen-king{
    grid-area: stephen-king;
    background-color: rgb(23, 255, 81);
}


/* MEDIA QUERIES para DISEÑO RESPONSIVE para telefono*/
@media screen and(max-width: 320px){
    .grid-container{
        display: grid;
        border: 1px solid black;
        margin: 2px;
        
        
        /*tamaño de cada columna y fila con otras medidas para telefono */
        grid-template-columns: repeat(2, 49%); 
        grid-template-rows: repeat(6, 315px);
        
        gap: 1px 1px; 
        grid-template-areas: 
        "oscar bienvenidos"
        "oscar instrucciones"
        "oscar chacarera"
        "messi messi"
        "sapucai sapucai"
        "stephen-king stephen-king" ;
    }
    
    /*ACTIVACION llamando al selector de clase para cada clase y su grid-area*/
    .oscar{
        grid-area: oscar;
        background-color: rgb(255, 23, 93);
        background-image: image(multimedia/oscar-fondo);
    }
    
    .bienvenidos{
        grid-area: bienvenidos;
        background-color: rgb(78, 184, 119);
        text-align: center;
        font-family: 'Roboto', sans-serif;
        
        
    }
    
    .instrucciones{
        grid-area: instrucciones;
        background-color: rgb(226, 255, 158);
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .chacarera{
        grid-area: chacarera;
        background-color: rgb(78, 184, 119);
        text-align: center;
    }
    
    .messi{
        grid-area: messi;
        background-color: rgb(23, 201, 255);
    }
    
    .sapucai{
        grid-area: sapucai;
        background-color: rgb(23, 255, 81);
    }
    
    .stephen-king{
        grid-area: stephen-king;
        background-color: rgb(23, 255, 81);
    }

}

